
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KoffeBer</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    {% load static %}

</head>
<body>
   <header>
        <nav class="navbar">
        <a class="logo" href="">Kofeem peaks</a>
        <ul class="menu-links">
            <span id="close-menu-btn" class="material-symbols-outlined">Close</span>
            <li><a href="index.html">Home</a></li>
            <li><a href="shop/products">Products</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="contact.html">Contact us</a></li>
        </ul>
        <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
    </nav>
   </header>


   <section class="hero-section">
    <div class="content">
        <h2>Seize your day with fresh coffee</h2>
        <p>
            Awaken your senses by grabbing pure Arabica blended coffee.
        </p>
        <button>Order Now</button>
    </div>
   </section>
   <script>
    const header = document.querySelector("header");
    const hamburgerBtn = document.querySelector("#hamburger-btn");

// Toggle mobile menu on hamburger button click
hamburgerBtn.addEventListener("click", () => {
    // Check if the menu is currently shown
    if (header.classList.contains("show-mobile-menu")) {
        // If it is, hide it
        header.classList.remove("show-mobile-menu");
    } else {
        // If it's not, show it
        header.classList.add("show-mobile-menu");
    }
});
</script>
</body>
</html>