{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="par">
        <h2>About Us</h2>
        <div class="border"></div>
        <p>
            Koffeem peaks is the homeland for quality coffee. It partners with Kenyatta company to provide coffee to cup products. Everyone deserves a quality cofffe cup.
           </p>
    </div>
   </body>
</html>